<!DOCTYPE html>
<html>
<head>
	<title>Internal Error</title>
	<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<h1><%= message %></h1>
	<h2><%= error.status %></h2>
	<pre><%= error.stack %></pre>
	<div>Please report this error to <a href=\"mailto: Support@example.com\">Support@example.com</a></div>
</body>
</html>
